@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: Roboto;
    margin: 0px;
    width: 1024px;
}

.ficha-personaje{
    background-color: #F3F3F3;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    display: inline-block;
    margin-right: 28px;
    position: relative;
    width: 300px;
}

header p{
    background-color: #1CD1B0;  
    font-size: 15px;
    margin: 0px;
    padding: 10px;
}


h1{
    background-color: #00669F;
    font-size: 40px;
    font-weight: 400;
    margin-top: 0px;
    padding: 28px 10px 26px 28px;
}

h2{
    margin-top: 73px;
    text-align: center;
}

section{
    position: relative;
    padding-left: 32px;
}

.descripcion{
    margin: 10px 17px 37px 16px;
}

.foto-personaje{
    border-radius: 50%;
    position:absolute;
    left: 90px;
    top:128px;
}

.heart{
    position: absolute;
    left: 21px;
    top: 15px;
}

.ver-mas{
    background-color: #00669F;
    border-style: none;
    color: #F3F3F3;
    font-size: 15px;
    height: 48px;
    margin: 37px 86px 18px 85px;
    width: 128px;
}